<div id="simplecontact">

    {% if errors %}
        <div class="simplecontact-errors">{{ config.messages.error }}</div>
    {% endif %}

    <form action="{{ url(route) }}#simplecontact" method="post" id="simplecontact-form">
        <div class="row 50%">
            <div class="6u 12u(mobile)">
                <input type="text" name="name" placeholder="{{ config.fields.name.label }}" value="{{ vars.name }}">
            </div>
            <div class="6u 12u(mobile)">
                <input type="text" name="email" placeholder="{{ config.fields.email.label }}" value="{{ vars.email }}">
            </div>
        </div>
        <div class="row 50%">
            <div class="12u">
                <textarea name="message" placeholder="{{ config.fields.message.label }}">{{ vars.message }}</textarea>
            </div>
        </div>
        <div class="row 50% antispam">
            <label for="antispam">{{ config.fields.antispam.label }}</label>
            <input id="antispam" name="antispam" type="text" placeholder="" value="{{ vars.antispam }}">
        </div>
        <div class="row">
            <div class="12u">
                <ul class="actions">
                    <li><input type="submit" class="button" value="{{ config.fields.submit.label }}" /></li>
                </ul>
            </div>
        </div>
    </form>

</div>

<style>
    .simplecontact-errors {
        font-size:0.9em;
        background: rgb(232, 90, 90);
        color:white;
        padding:1em;
        margin-bottom:1em;
        border-radius: 0.25em;
    }
    .antispam {
        display:none;
    }
</style>
